{% extends "base.html" %}
{% block content %}
<div class="container bg-white">
  <form method="POST">
    <div class="row mb-3 mt-3">
      <label class="col-sm-2 col-form-label">Card Name</label>
      <div class="col-sm-10">
        <input type="text" placeholder="Type card name" name = "card_name">
      </div>
    </div>
    <div class="row mb-3">
      <label class="col-sm-2 col-form-label">Genre</label>
      <select name = "card_genre">
        <option value="0" placeholder="select"></option>
        {%for genre in genres%}
        <option value="{{genre[1]}}">{{genre[1]}}</option>
        {%endfor%}
      </select>
    </div>
    <div class="row mb-3">
      <label class="col-sm-2 col-form-label">Due Date</label>
      <input type="date" name = "due_date">
    </div>
    <div class="row mb-3">

    </div>
    <div class="row mb-3">
      <input class="btn btn-secondary mr-3" type = "submit" name = "action" value = "cancell">
      <input class="btn btn-success" type = "submit" name = "action"  value="create">
    </div>

  </form>
</div>
{% endblock %}