{% extends "base.html" %}
{% block content %}

<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <form class="d-flex" method="post">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search_name">
      <input class="btn btn-outline-success" type="submit" value="Search" name="action">
    </form>
  </div>
</nav>

<br>
<table class="table table-light table-bordered table-hover">
  <thead >
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Genre</th>
      <th scope="col">Due Date</th>
    </tr>
  </thead>

  {%for card in cards%}
  <tbody>
    <tr>
      <td ><a href="{{url_for('card_update', id = card[0])}}">{{ card[1] }}</a></td>
      <td >{{ card[3] }}</td>
      <td >{{ card[2] }}</td>
    </tr>
  </tbody>
  {% endfor %}
</table>

{% endblock %}